{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Мир!</h1>

    This is <strong>курсы валют</strong>

    <div class="alert alert-primary my-5" role="alert">
        Створити сервіс для зберігання історії курсів валют долара і євро до украхїнської гривні з періодичним оновленням з зовнішнього джерела даних. Інтерфейс користувача на вибір:<br />
        - веб сторінка для перегляду в браузері історії зміни курсу.<br />
        - телеграм-бот що дозволить отримувати дані зміни курсу.
    </div>


    {% if rates %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Из</th>
                    <th scope="col">В</th>
                    <th scope="col">Продажа</th>
                    <th scope="col">Покупка</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in rates %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ rate.fromCurrency.code }}</td>
                        <td>{{ rate.toCurrency.code }}</td>
                        <td>{{ rate.sell }}</td>
                        <td>{{ rate.buy }}</td>
                        <td>{{ rate.date|date('d-m-Y') }}</td>
                    <tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    
            <div class="alert alert-danger my-5" role="alert">
                <h3>Записей нет</h3>

                <p>
                    1. php bin/console doctrine:fixtures:load
                </p>
                <p>
                    2. php bin/console get-currency-rates
                </p>
            </div>

    {% endif %}
    
</div>
{% endblock %}
